.carousel-container {
    margin: auto;
    position: relative;
    width: 100%;
    max-width: 800px;
    overflow: hidden;
    font-size: 12px;
}
.carousel-image-wrapper {
    width: 4000px;
    margin: 0;
    white-space: nowrap;
    letter-spacing: -4px;
}

/* Style for previous and next buttons */
.carousel-controls button{
    position: absolute;
    top: 50%;
    font-size: 3em;
    padding: 0.5em;
    cursor: pointer;
    transform: translate(0, -50%);
}
.carousel-controls button:hover{
    background-color: #00000020;
}
.carousel-controls button:last-child{
    right: 0;
}

/* Style for dots (indicators) */
.carousel-indicators {
    position: absolute;
    left: 0;
    bottom: 15px;
    right: 0;
    text-align: center;
}
.carousel-indicators>span {
    display: inline-block;
    width: 12px;
    height: 12px;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 5px;
    background-color: transparent;
    border: 1px solid #000;
}
.carousel-indicators>span.active, .carousel-indicators>span:hover {
    background-color: #000;
}